rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /print/{filename} {
      allow read: if resource.metadata.publicDomain == "true"
        || (request.auth != null && resource.metadata[request.auth.uid] == "member");
      allow write: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
