@import "@commons-systems/style/default.css";
@import "@commons-systems/style/hero.css";
@import "@commons-systems/style/expandable-row.css";
@import "@commons-systems/style/layout.css";
@import "./audio.css";

:root {
  color-scheme: dark;
}

.content-grid {
  max-width: var(--max-width-content);
  margin-inline: auto;
  padding-inline: var(--space-4);
}

@media (min-width: 768px) {
  body { --main-max-width: none; --line-length: 100vw; }
  .content-grid { max-width: none; }
  main { max-inline-size: none; }
}
