@import "@commons-systems/style/default.css";
@import "@commons-systems/style/hero.css";
@import "@commons-systems/style/expandable-row.css";
@import "@commons-systems/style/layout.css";
@import "./audio.css";

:root {
  color-scheme: dark;
}

.cc-badge {
  width: 117px;
  height: 41px;
  vertical-align: middle;
}
