import { createAppContext } from "@commons-systems/firebaseutil/app-context";

export const { db, app, NAMESPACE, trackPageView } = createAppContext(
  "{{.AppName}}",
  "", // TODO: register web app in Firebase Console and paste appId here
);
