import { createAppContext } from "@commons-systems/firebaseutil/app-context";

export const { db, app, NAMESPACE, trackPageView } = createAppContext(
  "{{.AppName}}",
  "", // TODO: paste appId from Firebase Console > Project Settings > Your apps
  { recaptchaSiteKey: "" }, // TODO: paste reCAPTCHA Enterprise site key from Firebase Console > App Check
);
