@import "@commons-systems/style/default.css";
@import "@commons-systems/style/hero.css";

#hero-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

:root {
  color-scheme: dark;
}

.cc-badge {
  width: 117px;
  height: 41px;
  vertical-align: middle;
}
